In [2]:
import pandas as pd
import numpy as np
df_price = pd.read_csv('../data/kospi100_price_vol.csv' , skiprows=3 )
df_price = df_price.iloc[:,:2]

C:\miniconda3\envs\gb\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (49,50,79,80,149,150,265,266) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df_price

     Symbol Name_Item Name 삼성전자_수정주가(원)
0               2010-06-30       15,480
1               2010-07-01       15,320
2               2010-07-02       15,340
3               2010-07-05       15,340
4               2010-07-06       15,500
...                    ...          ...
2503            2020-08-21       55,900
2504            2020-08-24       56,100
2505            2020-08-25       56,400
2506            2020-08-26       56,400
2507            2020-08-27       55,600

[2508 rows x 2 columns]